body {
    padding: 0;
    margin: 0;
    background: tomato;
    /* Old browsers */
    background: tomato;
    /* FF3.6-15 */
    background: tomato;
    /* Chrome10-25,Safari5.1-6 */
    background: tomato;
  }
  
  /** Header styles **/
  .header {
    background-image: url(https://lh6.googleusercontent.com/DirrAlF3qqUfXBg6xf1J7RdlP7p4bWNdAA5kuuQHtpo5TCwzO2xm-AS6CatOWpHe7UcqwmXX1bQN-c_E8Srx=w1920-h1088);
    height: 325px;
    background-position: center center;
  }
  
  .roasting {
    margin: 40px auto;
    padding: 20px 30px 40px 30px;
    background-color: mediumturquoise;
    overflow: auto;
    width: 75%;
    border-radius: 4px;
    align-self: center;
  }
  
  .roasting p {
    color: #938E89;
    text-align: center;
    line-height: 24px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    font-weight: 400;
  }
  
  .spectrum div {
    font: inherit;
    padding: 0 20px;
    color: #FFFFFF;
    overflow: auto;
    opacity: 0.9;
  }
  
  .spectrum p {
    color: #FFFFFF;
    text-align: left;
  }
  
  /* Roast types */
  .green {
    background-color: yellowgreen;
  }
  
  .light {
    background-color: tomato;
  }
  
  .city {
    background-color: orchid;
  }
  
  .vienna {
    background-color: darkcyan;
  }
  
  .italian {
    background-color: Black;
  }
  
  /* Typography */
  h1 {
    color: lightseagreen;
    font-family: 'Bigelow Rules', cursive;
    font-size: 100px;
    line-height: 0px;
    margin: 0;
    position: relative;
    text-align: center;
    top: 60%;
  }
  
  h2 {
    color: #E4BB97;
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 500;
    text-align: left;
    text-transform: uppercase;
  }
  
  h3 {
    color: #41292C;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  
  h4 {
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: .2em;
  }
  
  h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    line-height: .2em;
    font-weight: 300;
  }
  
  /* Page elements */
  ul {
    margin: 0 auto;
    padding: 0;
    width: 75%;
  }
  
  li {
    border-bottom: 1px solid #E4BB97;
    list-style: none;
    margin: 100px 0px;
    padding-bottom: 60px;
  }

  footer p {
    color: darkslategray; 
    text-align: center;
    font-size: 18px;
    font-weight: 400;
  }
  
  p {
    color: #444444;
    line-height: 32px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 400;
  }
  
  a {
    color: #444444;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 900;
    text-align: left;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
  }
